<header class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

    <div class="navbar-header">
       <div class="logo-fl-header">
           <a href="https://atdfiware.grayhats.com" class="brand">
               <img alt="FIWARE Lab" class="fiware-logo" width="280px" src="../img/applications/mezcla-trans.png" />
           </a>
       </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="header-navbar-collapse">
      <div id="user_info" class="col-md-pull-3 nav navbar-nav navbar-right">
        <div id="profile_editor_switcher" class="dropdown switcher_bar" tabindex="1">
          <%if(session.user){%>
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
              <img alt="User" src="<%= session.user.image %>">
              <%= session.user.username %>
              <i class="fa fa-angle-double-down"></i>
            </a>
            <ul id="editor_list" class="dropdown-menu multi-level dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
              <li>
                <a href="/idm/users/<%= session.user.id %>">
                  <i class="fa fa-user"></i><%=translation.header.menu_item01%>
                </a>
              </li>
              <li>
                <a href="/idm/settings">
                  <i class="fa fa-cog"></i><%=translation.header.menu_item02%>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="/idm/help_about">
                  <i class="fa fa-question-circle"></i><%=translation.header.menu_item03%>
                </a>
              </li>
              <li>
                <a href="/auth/logout?_method=DELETE" onclick="">
                  <i class="fa fa-sign-out-alt"></i><%=translation.header.menu_item04%>
                </a>
              </li>
            </ul>
          <%}%>
        </div>
      </div>
    </div><!-- /.navbar-collapse -->



  </div><!-- /.container-fluid -->



</header>
